body {
    margin: 0;
    background: #9595ea;
    font-family: sans-serif;
}
.content {
    width: 500px;
    height: 500px;
    background-color: #6c6cd2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.selectContainer {
    display: block;
    margin-bottom: 5px;
}
.btn {
    margin: 10px 0;
    color: white;
    background: #7979c3;
    border: 2px solid transparent;
    padding: 10px 20px;
    font-size: 16px;
    transition: all .7s ease-in-out;
    border-radius: 100px;
}
.btn:hover {
    border-color: #4a49b5;
    background: #6969b5;
}
#showResults {
    background: #a9a9ef;
    padding: 10px 20px;
    text-align: left;
}